body {
	position: relative;
	margin-top: 0px;
}

#octopus {
	position: absolute;
	margin-left: 35%;
	margin-top: 70px;
	z-index: -1;
}

#hat {
    position: absolute;
    margin-left: 38%;
	margin-top: -10px;
}

#glasses {
	position: absolute;
    margin-left: 45%;
	margin-top: 170px;
}